<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadê Buffet</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app" class="container mt-5">
    <div class="input-group mb-4">
      <input type="text" v-model="searchQuery" placeholder="Buscar..." class="form-control">
      <button @click="fetchCompanies" class="btn btn-primary">Buscar</button>
    </div>
    <div v-if="error" class="alert alert-danger">{{ error }}</div>
    <h1 class="mb-4">Empresas Especializadas em Buffets para Eventos</h1>
    <ul class="list-group mb-4">
      <li v-for="company in companies" :key="company.id" class="list-group-item">
        <a href="#" @click.prevent="showCompanyDetails(company)" class="text-decoration-none">{{ company.brand_name }}</a>
      </li>
    </ul>
    <div v-if="selectedCompany">
      <div class="card mt-4">
        <div class="card-header">
          <h2>{{ selectedCompany.brand_name }}</h2>
        </div>
        <div class="card-body">
          <p><strong>Descrição:</strong> {{ selectedCompany.description }}</p>
          <p><strong>Telefone:</strong> {{ selectedCompany.phone_number }}</p>
          <p><strong>Email:</strong> {{ selectedCompany.email }}</p>
          <p><strong>Endereço:</strong> {{ selectedCompany.address }}, {{ selectedCompany.neighborhood }}, {{ selectedCompany.city }} - {{ selectedCompany.state }}, {{ selectedCompany.zipcode }}</p>
          <h3 class="mt-4">Tipos de Eventos</h3>
          <ul class="list-group mb-4">
            <li v-for="eventType in eventTypes" :key="eventType.id" class="list-group-item">
              <a href="#" @click.prevent="selectedEventType = eventType" class="text-decoration-none">{{ eventType.name }}</a> - {{ eventType.description }}
              <div v-if="selectedEventType && selectedEventType.id === eventType.id" class="mt-3">
                <p><strong>Nome:</strong> {{ eventType.name }}</p>
                <p><strong>Descrição:</strong> {{ eventType.description }}</p>
                <p><strong>Mínimo de Convidados:</strong> {{ eventType.min_attendees }}</p>
                <p><strong>Máximo de Convidados:</strong> {{ eventType.max_attendees }}</p>
                <p><strong>Duração:</strong> {{ eventType.duration }} minutos</p>
                <p><strong>Descrição do Menu:</strong> {{ eventType.menu_description }}</p>
                <p><strong>Álcool Disponível:</strong> {{ eventType.alcohol_available ? 'Sim' : 'Não' }}</p>
                <p><strong>Decoração Disponível:</strong> {{ eventType.decoration_available ? 'Sim' : 'Não' }}</p>
                <p><strong>Serviço de Estacionamento Disponível:</strong> {{ eventType.parking_service_available ? 'Sim' : 'Não' }}</p>
                <p><strong>Tipo de Local:</strong>
                  {{ eventType.location_type === 'on_site' ? 'Salão próprio da empresa' :
                  (eventType.day_options === 'off_site' ? 'Salão de terceiros' : 'Salão da empresa ou de terceiros') }}</p>
                <h5 class="card-title"><strong>Opções de Preços:</strong></h5>
                <div class="row mt-4">
                  <div class="col-md-4 mb-4" v-for="pricing in eventType.event_pricings" :key="pricing.id">
                    <div class="card">
                      <div class="card-body">
                        <h6>
                          {{ pricing.day_options === 'weekday' ? 'Dia Útil' :
                              (pricing.day_options === 'weekend' ? 'Final de Semana' : 'Feriado') }}
                        </h6>
                        <p><strong>Preço Base:</strong> R$  {{ pricing.base_price }}</p>
                        <p><strong>Convidados Base:</strong> {{ pricing.base_attendees }}</p>
                        <p><strong>Preço por Convidado Adicional:</strong> R$  {{ pricing.additional_attendee_price }}</p>
                        <p><strong>Preço por Hora Extra:</strong> R$  {{ pricing.extra_hour_price }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="availability" class="mt-4">
                  <p v-if="availability.available" class="alert alert-success">Disponível! Preço estimado: R$ {{ availability.estimated_price }}</p>
                  <p v-else class="alert alert-danger">{{ availability.error }}</p>
                </div>
                <h4 class="mt-4">Verificar Disponibilidade</h4>
                <div class="mb-3">
                  <label for="eventDate" class="form-label">Data do Evento:</label>
                  <input type="date" v-model="eventDate" id="eventDate" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="numberAttendees" class="form-label">Número de Convidados:</label>
                  <input type="number" v-model="numberAttendees" id="numberAttendees" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="dayType" class="form-label">Tipo de Dia:</label>
                  <select v-model="dayType" id="dayType" class="form-select">
                    <option value="weekday">Dia Útil</option>
                    <option value="weekend">Final de Semana</option>
                    <option value="holiday">Feriado</option>
                  </select>
                </div>
                <button @click="checkAvailability" class="btn btn-primary">Verificar Disponibilidade</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>
</html>
